@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
    display: flex;
    /* width: 100%; */
    width: 90vw;
    padding: 0 15px;
    margin: 0 auto;
}

.panel {
    margin: 10px;
    height: 70vh;
    border-radius: 11px;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 0.5;

    transition: all 0.5s ease-in;
}

.panel h3 {
    font-family: 'Muli';
    color: #fff;
    position: absolute;
    font-size: 20px;
    opacity: 0;
    left: 5%;
    bottom: 5%;
}

.active {
    flex: 5
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.5s ease-in 0.5s;
}

@media (max-width: 1200px) {
    .container {
        width: 100vw;
    }
}

@media (max-width: 480px) {
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}